Pillow==10.2.0
uvicorn==0.29.0
python-multipart==0.0.9
fastapi==0.110.1
nest-asyncio==1.6.0
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.25
ipykernel
requests==2.32.3
python_dotenv==1.0.1
plotly
seaborn==0.13.2
matplotlib==3.9.2
beautifulsoup4==4.12.2
selenium==4.10.0
ipykernel
langchain
requests
tensorflow
keras